
@import "tailwindcss";


:root {
  --primary: #2B82F6;
  --primary-hover: #1E6FE0;
  --secondary: #34D399;
  --secondary-hover: #22C37B;
  --foreground: #1E293B;
  --muted-foreground: #64748B;
  --background: #F9FAFB;
  --card: #FFFFFF;
  --border: #E5E7EB;
  --input: #F3F4F6;
}
